# Python / Cache
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env

# Data Files (Excluding raw/large scraped data from Git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / IDE
.DS_Store
.vscode/
.idea/
